# Trabalho 2 - Classificação Titanic

## Nome
<p>Evandro Henrique Couto de Paula. Prontuário: 301358-8</p>

In [199]:
%pylab
import sys
!{sys.executable} -m pip install yellowbrick
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import (ensemble, preprocessing, tree )
from sklearn.metrics import ( auc, confusion_matrix, roc_auc_score,  roc_curve) 
from sklearn.model_selection import (train_test_split,  StratifiedKFold )  
from yellowbrick.classifier import (ConfusionMatrix, ROCAUC,)
from yellowbrick.model_selection import(LearningCurve,)

Using matplotlib backend: agg
Populating the interactive namespace from numpy and matplotlib
Requirement already satisfied: yellowbrick in /home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages (1.3.post1)
Requirement already satisfied: scikit-learn>=0.20 in /home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages (from yellowbrick) (0.24.2)
Requirement already satisfied: scipy>=1.0.0 in /home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages (from yellowbrick) (1.7.1)
Requirement already satisfied: matplotlib!=3.0.0,>=2.0.2 in /home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages (from yellowbrick) (3.4.3)
Requirement already satisfied: cycler>=0.10.0 in /home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages (from yellowbrick) (0.10.0)
Requirement already satisfied: numpy<1.20,>=1.16.0 in /home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages (from yellowbrick) (1.19.5)
Requirement already satisfied: six in /home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages (from cycler>=0.10.0->yellowbrick) (1.16.0)
Requirement already satisfied: pillow>=6.2.0 in /home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (8.3.1)
Requirement already satisfied: python-dateutil>=2.7 in /home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in /home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (2.4.7)
Requirement already satisfied: joblib>=0.11 in /home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages (from scikit-learn>=0.20->yellowbrick) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages (from scikit-learn>=0.20->yellowbrick) (2.2.0)
WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the '/home/evandrocouto/pos/D2APR/d2apr/bin/python -m pip install --upgrade pip' command.

## Descrição do problema

<p>O RMS Titatic foi um navio enconmendado pela operadora britânica White Star Line e tinha como objectivo ser uma embarcação altamente segura e luxuosa.</p>
<p>Lançado ao mar no dia 31 de maio de 1911, o navio possuia núemeros impressionantes para a época, tinha 269m de comprimento, 53m de altura, capacidade de 2435 passageiros e 892 tripulantes e peso de 45 mil toneladas.</p>
<p>A primeira viagem teve inicio no dia 10 de abril de 1912 e a rota da viagem era de southampton, na Inglaterra até Nova York, nos Estados Unidos</p>
<p>No dia 14 de abril de 1912, durante a noite, o navio colidiu contra um iceberg e devido aos danos estruturais o navio afundou. Como não possuia botes salva vidas suficientes a maioria dos passaegeiros não conseguiu escapar e acabou vitima do naufrágio</p>
<p>Cerca de 700 pessoas sobreviveram à tragédia e mais de 1500 acabaram falecendo entre eles o capitão Edward Smith e um dos projetistas do Titanic, o Engeneiro Thomas Andrews.</p>
<p>Os dados fornecidos são uma lista dos passageiros do Navio e o objetivo do trabalho é utilizar algoritmos de classificação para tentar prever quais passageiros sobreviveu à tragédia</p>

##### fonte: https://www1.folha.uol.com.br/webstories/cultura/2021/05/a-historia-do-titanic/

## Análise dos dados

In [200]:
dados_treino = pd.read_csv('./titanic/train.csv', sep=',')

In [201]:
dados_treino.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [202]:
dados_treino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

#### Descrição dos dados

coluna | tipo | Descrição
-------|------|----------
PassengerId  | numérico | Idenficador do passageiro no dataset
Survived | numerico | Valor binário que identifica se o passagerio sobreviveu ou falaceu
PClass | numérico | Identificador da classe de viagem do passageiro
Name | texto | Nome do passageiro
Sex | texto | Descrição do sexo do passageiro
Age | numérico | A idade do passageiro
Sibsp | numérico | número de irmãos e irmãs que o passageiro possuia abordo
Parch | numérico | Número de filhos/pais que o passageiro possuia abordo
Ticket | texto | Identificador da passagem do passageiro
Fare | numérico | Valor da passagem pago pelo passageiro
Cabin | Texto | Número da cabine do passageiro
embarked | texto | Parada de embarque do passageiro

### Analise dos números do dataframe

In [203]:
dados_treino.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [204]:
dados_treino.hist(figsize=(10, 10), bins=10)

array([[<AxesSubplot:title={'center':'PassengerId'}>,
        <AxesSubplot:title={'center':'Survived'}>,
        <AxesSubplot:title={'center':'Pclass'}>],
       [<AxesSubplot:title={'center':'Age'}>,
        <AxesSubplot:title={'center':'SibSp'}>,
        <AxesSubplot:title={'center':'Parch'}>],
       [<AxesSubplot:title={'center':'Fare'}>, <AxesSubplot:>,
        <AxesSubplot:>]], dtype=object)

In [205]:
dados_treino.boxplot(figsize=(10, 10), column=['SibSp', 'Parch'])

In [206]:
dados_treino.boxplot(figsize=(10, 10), column=['Age'])

In [207]:
dados_treino.boxplot(figsize=(10, 10), column=['Fare'])

In [208]:
dados_treino.boxplot(figsize=(10, 10), column=['Survived'])

In [209]:
plt.figure(figsize=(12,17))
plt.title("Distribuição sobreviventes por idade ")
ax = sns.histplot(data=dados_treino, x='Age', hue='Survived', palette='hot', bins=30)
ax.legend(['Falecido', 'Sobreviviente'])
ax.set_ylabel('Número de Passageiros', fontsize=14)
ax.set_xlabel('Idade', fontsize=14)
ax = ax

In [210]:
plt.figure(figsize=(8,10))
plt.title("Distribuição sobreviventes por deck de viagem ")
ax = sns.histplot(dados_treino.query('Survived == 1'), x='Pclass', bins=3)
ax.set_ylabel('Número de Passageiros', fontsize=14)
ax.set_xlabel('Deck', fontsize=14)

Text(0.5, 0, 'Deck')

In [211]:
plt.figure(figsize=(8,10))
plt.title("Distribuição Falecidos por deck de viagem ")
ax = sns.histplot(dados_treino.query('Survived == 0'), x='Pclass', bins=3)
ax.set_ylabel('Número de Passageiros', fontsize=14)
ax.set_xlabel('Deck', fontsize=14)

Text(0.5, 0, 'Deck')

## Preparação dos dados

#### Removendo colunas não relavantes para o treinamento

In [212]:
df_modelo = dados_treino.drop(columns=["Name", 'Ticket', 'Cabin'])


### Criando as variaveis dummies
df_modelo = pd.get_dummies(df_modelo, drop_first=True)

df_modelo.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare',
       'Sex_male', 'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [213]:
#### Separando os atributos e as labels
y = df_modelo.Survived
X = df_modelo.drop(columns= "Survived")

#### Separando as amostras

In [214]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(X_train.shape)
print(y_train.size)

(712, 9)
712

In [234]:
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import RobustScaler
from sklearn.compose import ColumnTransformer

medianas = X_train.median()
X_train = X_train.fillna(medianas)
X_test = X_test.fillna(medianas)

colunas = "Pclass,age,sibsp,fare".split(",")
scaler = RobustScaler()
X_train = scaler.fit_transform(X_train)
X_train = pd.DataFrame(X_train)
X_test = scaler.fit_transform(X_test)
X_test = pd.DataFrame(X_test)

## Treinando os Modelos

In [216]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

In [217]:
X_eval = pd.concat([X_train, X_test])
y_eval = pd.concat([y_train, y_test])
for model in [LogisticRegression, DecisionTreeClassifier, KNeighborsClassifier, GaussianNB, SVC, RandomForestClassifier]:
    classificador = model()
    kfold = KFold(n_splits=10, random_state=42, shuffle=True)
    score = cross_val_score(classificador, X_eval, y_eval, scoring="roc_auc", cv=kfold)
    print(
        f"{model.__name__:22} AUC: {score.mean():.3f} Dsesvio Padrão: {score.std():.2f}" )

LogisticRegression     AUC: 0.848 Dsesvio Padrão: 0.04
DecisionTreeClassifier AUC: 0.730 Dsesvio Padrão: 0.04
KNeighborsClassifier   AUC: 0.829 Dsesvio Padrão: 0.05
GaussianNB             AUC: 0.826 Dsesvio Padrão: 0.04
SVC                    AUC: 0.843 Dsesvio Padrão: 0.04
RandomForestClassifier AUC: 0.861 Dsesvio Padrão: 0.05

#### Selecionando modelos a ser utilizados
Analisando o resultado da AUC os medelos que serão analisados serão Regressão Logística, SVC, e RandomForest

In [218]:
from sklearn.metrics import precision_score

svcm = SVC()
rf = RandomForestClassifier()
lr = LogisticRegression()

rf.fit(X_train, y_train)
svcm.fit(X_train, y_train)
lr.fit(X_train, y_train)

### Regressão Logistica
lr_score = lr.score(X_test, y_test)
lr_precision = precision_score(y_test, lr.predict(X_test))
svcm_score = svcm.score(X_test, y_test)
svcm_precision = precision_score(y_test, svcm.predict(X_test))
rf_score = rf.score(X_test, y_test)
rf_precision = precision_score(y_test, rf.predict(X_test))

print(f"O modelo RandomForest tem um score de {rf_score}  e precisão de {rf_precision}")
print(f"O modelo SVC tem um score de {svcm_score}  e precisão de {svcm_precision}")
print(f"O modelo LogisticRegression tem um score de {lr_score}  e precisão de {lr_precision}")

O modelo RandomForest tem um score de 0.7932960893854749  e precisão de 0.8363636363636363
O modelo SVC tem um score de 0.8100558659217877  e precisão de 0.7941176470588235
O modelo LogisticRegression tem um score de 0.7988826815642458  e precisão de 0.796875

## Analise dos resultados

In [233]:
### Matriz de confusão
from sklearn.metrics import confusion_matrix

mapping = {0: "Morto", 1:"Sobrevivente"}

fig, ax = plt.subplots(figsize=(6,6))
cm_rf_viz = ConfusionMatrix(rf, classes=["died","survived"], encoder=mapping)
cm_rf_viz.score(X_test, y_test)
cm_rf_viz.poof()
fig.savefig("images/cm_rf.png", dpi=300, bbox_inches="tight")

fig, ax = plt.subplots(figsize=(6,6))
cm_svc_viz = ConfusionMatrix(svcm, classes=["died","survived"], encoder=mapping)
cm_svc_viz.score(X_test, y_test)
cm_svc_viz.poof()
fig.savefig("images/cm_svc.png", dpi=300, bbox_inches="tight")


fig, ax = plt.subplots(figsize=(6,6))
cm_lr_viz = ConfusionMatrix(lr, classes=["died","survived"], encoder=mapping)
cm_lr_viz.score(X_test, y_test)
cm_lr_viz.poof()
fig.savefig("images/cm_lr.png", dpi=300, bbox_inches="tight")

/home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages/yellowbrick/classifier/base.py:251: YellowbrickWarning: both classes and encoder specified, using encoder
  warnings.warn(
/home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages/yellowbrick/classifier/base.py:232: YellowbrickWarning: could not determine class_counts_ from previously fitted classifier
  warnings.warn(
/home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages/yellowbrick/classifier/base.py:251: YellowbrickWarning: both classes and encoder specified, using encoder
  warnings.warn(
/home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages/yellowbrick/classifier/base.py:309: YellowbrickWarning: both classes and encoder specified, using encoder
  warnings.warn(
/home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages/yellowbrick/classifier/base.py:309: YellowbrickWarning: both classes and encoder specified, using encoder
  warnings.warn(
/home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages/yellowbrick/classifier/base.py:251: YellowbrickWarning: both classes and encoder specified, using encoder
  warnings.warn(
/home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages/yellowbrick/classifier/base.py:232: YellowbrickWarning: could not determine class_counts_ from previously fitted classifier
  warnings.warn(
/home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages/yellowbrick/classifier/base.py:251: YellowbrickWarning: both classes and encoder specified, using encoder
  warnings.warn(
/home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages/yellowbrick/classifier/base.py:309: YellowbrickWarning: both classes and encoder specified, using encoder
  warnings.warn(
/home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages/yellowbrick/classifier/base.py:309: YellowbrickWarning: both classes and encoder specified, using encoder
  warnings.warn(
/home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages/yellowbrick/classifier/base.py:251: YellowbrickWarning: both classes and encoder specified, using encoder
  warnings.warn(
/home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages/yellowbrick/classifier/base.py:232: YellowbrickWarning: could not determine class_counts_ from previously fitted classifier
  warnings.warn(
/home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages/yellowbrick/classifier/base.py:251: YellowbrickWarning: both classes and encoder specified, using encoder
  warnings.warn(
/home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages/yellowbrick/classifier/base.py:309: YellowbrickWarning: both classes and encoder specified, using encoder
  warnings.warn(
/home/evandrocouto/pos/D2APR/d2apr/lib/python3.9/site-packages/yellowbrick/classifier/base.py:309: YellowbrickWarning: both classes and encoder specified, using encoder
  warnings.warn(

### Resultados

In [ ]:
print(f"{}")

#### RandomForest
<img src="images/cm_rf.png" alt="drawing" width="600"/>
<br>
<br>

In [ ]:
print(f"{}")

#### SVC
<p></p>
<img src="images/cm_svc.png" alt="drawing" width="600"/>
<br>
<br>

In [ ]:
print(f"{}")

#### LogisticRegression
<p></p>
<img src="images/cm_lr.png" alt="drawing" width="600"/>